# BEGIN Expire headers  
<IfModule mod_expires.c>  
  ExpiresActive on
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>  
# END Expire headers
